* {
    padding:0;
    margin:0
}

html,body{
    width: 100%;
    height: 100%;
    background-color: #1a1b1f;
}

.dota2_nav_container{
    width: 100%;
    height: 80px;
    background-color: #000000;
    font-family: "Microsoft YaHei", Î¢ÈíÑÅºÚ, Arial, "Helvetica Neue", Helvetica, sans-serif;
}


.nav_main{
    width: 1240px;
    height: 100%;
    margin: 0 auto;
}

.nav_logo{
    float: left;
    width: 260px;
    height: 40px;
    margin-top: 20px;
    margin-right: 20px;
    outline: none;
}

.nav_logo .nav_a{
    display: block;
    width: 260px;
    height: 40px;
    background: url("../img/logo.jpg") center top no-repeat;
}

.nav_main .nav_bar{
    float: left;
    height: 100%;
    width: 700px;
}

.nav_main .nav_bar .link_div{
    position: relative;
    float: left;
    padding: 8px 7px;
    text-align: center;
    width: 92px;
}

.nav_main .nav_bar .link_pop{
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    padding-top: 10px;
    width: 100%;
    height: 239px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    background-size: cover;
    background-color: #000000;
    opacity: 0.5;
}

.nav_main .nav_bar .link_div .link_pop a{
    font-size: 14px;
    color: white;
}

.nav_main .nav_bar .link_active{
    z-index: 999;
    display: block;
}

.nav_main .nav_bar .link_div a{
    display: block;
    font-size: 16px;
    color: #a5a5a5;
    text-decoration: none;
}

.nav_main .nav_bar .link_div span{
    padding-left: 10px;
    padding-right: 10px;
}

.nav_main .nav_bar .link_div .link_div_e{
    font-size: 10px;
    text-align: center;
}

.nav_main .nav_user{
    float: right;
    width: 260px;
    height: 100%;
    margin-right: 0;
    position: relative;
}

.nav_main .nav_user .info{
    height: 80px;
}

.nav_main .nav_user .info .login_img{
    float: left;
    height: 60px;
    width: 60px;
    margin-top: 10px;
    position: absolute;
    background-image: url("../img/login.png");
}

.nav_main .nav_user .info .login_box{
    float: left;
    margin-top: 15px;
    margin-left: 70px;
    display: block;
}

.nav_main .nav_user .info .login_box p{
    margin: 0 0 4px;
}

.nav_main .nav_user .info .login_box .login_info{
    font-size: 18px;
    color: #ffffff;
}

.nav_main .nav_user .info .login_box .login_info1{
    font-size: .8em;
    color: #ffffff;
}

.banner{
    width: 100%;
    height: 500px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.u_wrapper{
    width: 1240px;
    margin: 0 auto;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    overflow: hidden;
}

.u_wrapper .u_container{
    min-width: 1240px;
    margin: 0 auto;
    color: #999999;
    padding-bottom: 65px;
}

.u_container .u_header{
    position: relative;
    width: 100%;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
}

.u_container .u_header .u_banner{
    width: 100%;
    height: 100%;
}

.u_container .u_section{
    width: 1240px;
    margin: 0 auto 40px;
    overflow: hidden;
}

.u_container .u_section .u_left_box{
    width: 750px;
    float: left;
    box-sizing: border-box;
    position: relative;
}


.u_container .u_btn_section .u_left_box{
    width: 750px;
    float: left;
    box-sizing: border-box;
    position: relative;
}

.u_container .u_btn_section .u_left_box .u_btn_pay{
    display: block;
    margin-right: 5px;
    float: left;
    width: 245px;
    height: 95px;
    overflow: hidden;
    background-position: 0 -94px;
}

.u_container .u_btn_section .u_left_box .u_btn_pay span{
    display: block;
    width: 245px;
    height: 95px;
    background: url("../img/pay.png") center no-repeat;
}

.u_container .u_btn_section .u_left_box .u_btn_download{
    display: block;
    margin-right: 5px;
    float: left;
    width: 245px;
    height: 95px;
    overflow: hidden;
    background-position: 0 -94px;
}

.u_container .u_btn_section .u_left_box .u_btn_download span{
    display: block;
    width: 245px;
    height: 95px;
    background: url("../img/download.png") center no-repeat;
}

.u_container .u_btn_section .u_left_box .u_btn_reg{
    display: block;
    margin-right: 5px;
    float: left;
    width: 245px;
    height: 95px;
    overflow: hidden;
    background-position: 0 -94px;
}

.u_container .u_btn_section .u_left_box .u_btn_reg span{
    display: block;
    width: 245px;
    height: 95px;
    background: url("../img/reg.png") center no-repeat;
}

.u_container .u_btn_section .u_right_box{
    width: 450px;
    float: left;
    margin-left: 30px;
    box-sizing: border-box;
}

.u_container .u_section .u_hot{
    margin-bottom: 40px;
}

.u_container .u_section .u_racecenter{
    display: block;
    width: 418px;
    overflow: hidden;
}

.u_container .u_section .u_racecenter .u_race_span{
    text-align: center;
    font-size: 20px;
    color: #eeeeee;
    overflow: hidden;
    padding: 10px 10px;
    white-space: nowrap;
}

.u_container .u_section .u_racecenter .u_race_span span{
    text-decoration: none;
}

.u_container .u_section .u_right_box{
    width: 430px;
    float: left;
    margin-left: 30px;
    box-sizing: border-box;
}

.u_container .u_btn_section .u_right_box .u_btn_data{
    display: block;
    margin-right: 1px;
    float: left;
    width: 140px;
    height: 95px;
    overflow: hidden;
    background-position: 0 -94px;
}

.u_container .u_btn_section .u_right_box .u_btn_data{
    display: block;
    width: 140px;
    height: 95px;
    background: url("../img/data.png") center no-repeat;
}

.u_container .u_btn_section .u_right_box .u_btn_play{
    display: block;
    margin-right: 1px;
    float: left;
    width: 140px;
    height: 95px;
    overflow: hidden;
    background-position: 0 -94px;
}

.u_container .u_btn_section .u_right_box .u_btn_play{
    display: block;
    width: 140px;
    height: 95px;
    background: url("../img/play.jpg") center no-repeat;
}

.u_container .u_btn_section .u_right_box .u_btn_understand{
    display: block;
    margin-right: 1px;
    float: left;
    width: 140px;
    height: 95px;
    overflow: hidden;
    background-position: 0 -94px;
}

.u_container .u_btn_section .u_right_box .u_btn_understand{
    display: block;
    width: 140px;
    height: 95px;
    background: url("../img/understand.jpg") center no-repeat;
}

.u_container .u_section .u_title{
    font-size: 18px;
    color: #ffffff;
    line-height: 20px;
    overflow: hidden;
    margin-bottom: 10px;
}

.u_container .u_section .u_left{
    float: left;
}

.u_container .u_icon{
    display: inline-block;
    width: 38px;
    height: 39px;
    vertical-align: middle;
    margin-right: 10px;
    position: relative;
}

.u_container .u_search_icon{
    display: inline-block;
    width: 36px;
    height: 36px;
    vertical-align: middle;
    position: relative;
    background: url("../img/search.png");
}

.u_container .u_icon_service{
    background: url("../img/service.png");
}

.u_container .u_icon_video{
    background: url("../img/video.png");
}

.u_container .u_map_left{
    width: 202px;
    height: 157px;
    float: left;
}

.u_container .u_map_right{
    width: 202px;
    height: 157px;
    float: left;
    margin-left: 20px;
}

.u_container .u_map_img{
    width: 100%;
    height: 119px;
    box-sizing: border-box;
    border: solid 1px transparent;
}

.u_container .u_map_info{
    line-height: 35px;
    color: #999999;
    text-align: center;
    text-decoration: none;
    margin-top: 3px;
}

.u_container .u_map ul li a{
    height: 100%;
    display: block;
}

.u_container .u_map_img img{
    width: 100%;
    height: 100%;
}

.u_container .u_icon_map{
    background: url("../img/map.png");
}

.u_container .u_icon_version{
    background: url("../img/version_logo.png");
}

.u_container .u_icon_news{
    background: url("../img/news.png");
}

.u_container .u_icon_hot{
    background: url("../img/hot.png");
}

.u_container .u_icon_activity{
    background: url("../img/activity_img.png");
}

.u_container .u_section .u_activity_content{
    width: 745px;
    overflow: hidden;
}

.u_container .u_section .u_activity_container{
    padding: 40px 40px 10px;
    display: none;
    overflow: hidden;
}

.u_container .u_section .u_activity_border{
    border: 1px solid #555555;
}

.u_container .u_section .u_activity_container.u_active{
    display: block;
}

.u_container .u_section .u_activity_container .u_activity_row{
    overflow: hidden;
    margin-top: 30px;
}

.u_container .u_section .u_activity_container .u_activity_row:first-child{
    margin-top: 0;
}

.u_container .u_section .u_activity_container .u_item_list{
    width: 300px;
    height: 464px;
    float: left;
}

.u_container .u_section .u_activity_container .u_item_l{
    margin-right: 30px;
}

.u_container .u_section .u_activity_container .u_item_r{
    margin-left: 30px;
    position: relative;
}

.u_container .u_section .u_activity_container .u_item_img{
    position: relative;
    cursor: pointer;
}

.u_container .u_section .u_activity_container .u_item_img img{
    width: 300px;
    height: 200px;
}

.u_container .u_section .u_activity_container .u_item_hot{
    top: 0;
    width: 80px;
    height: 30px;
    position: absolute;
    background: url("../img/activity/hot.png") no-repeat;
}

.u_container .u_section .u_activity_container .u_item_name{
    color: #cccccc;
    font-size: 16px;
}

.u_container .u_section .u_activity_container .u_item_price{
    color: #a93827;
    padding-top: 8px;
    font-size: 16px;
}

.u_container .u_section .u_activity_container .u_item_remark{
    color: #666666;
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    overflow: hidden;
    height: 60px;
}

.u_container .u_section .u_activity_row a:link{
    text-decoration: none;
}

.u_container .u_section .u_activity_container .u_item_button{
    background: url("../img/activity/button.jpg");
    height: 43px;
    width: 299px;
    font-size: 18px;
    line-height: 43px;
    text-align: center;
    cursor: pointer;
    color: #d3cbc7;
}


.u_container .u_section .u_right{
    display: block;
    float: right;
    font-size: 15px;
    line-height: 20px;
    padding-top: 8px;
    text-align: right;
}

.u_container .u_section .u_activity{
    position: relative;
    float: left;
    text-align: center;
    width: 310px;
    color: #999;
    font-size: 16px;
    border: 1px solid transparent;
    margin-right: 20px;
}

.u_container .u_section .u_activity_logo{
    display: block;
    width: 100%;
    height: 150px;
    border: 1px solid #020203;
}

.u_container .u_section .u_activity_title{
    margin-top: 10px;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 16px;
    color: #999999;
}

.u_section .u_activity_list{
    float: right;
    width: 563px;
    position: absolute;
    right: 0;
}

.u_section .u_activity_list .u_activity_type{
    float: left;
    font-size: 14px;
    color: #999999;
    cursor: pointer;
    width: 140px;
    text-align: center;
    height: 39px;
    position: relative;
    padding-top: 9px;
}

.u_section .u_activity_list .selected{
    color: #00c0ff;
    border: 1px solid #00c0ff;
}

.u_section .u_activity_list .u_border{
    border-right: 1px solid #333333;
}

.u_container .u_section .u_right a{
    color: #ffffff;
}

.u_container .u_section .u_content{
    display: block;
    position: relative;
}

.u_container .u_section .u_content a{
    display: block;
    text-decoration: none;
}

.u_container .u_section .u_content .u_video{
    display: block;
    width: 420px;
    height: 205px;
    background: url("../img/hot_img.png");
}

.u_container .u_icon_race{
    background: url("../img/race_img.jpg");
}

.u_container .u_section .u_ol{
    display: block;
    padding-top: 40px;
    width: 418px;
    height: 10px;
    text-align: center;
}

.u_container .u_video_section .u_service .u_content{
    padding: 20px 20px 5px 20px;
    height: 450px;
    background-color: #15161a;
}

.u_container .u_search{
    overflow: hidden;
}

.u_container .u_inputgroup{
    width: 280px;
    position: relative;
    box-sizing: border-box;
    float: left;
    overflow: hidden;
}

.u_container .u_btn_add{
    display: block;
    margin-left: 10px;
    width: 90px;
    background-color: #565864;
    color: #ccc;
    line-height: 35px;
    text-align: center;
    border-radius: 2px;
    float: left;
}

.u_container .u_question .u_lists{
    margin-top: 15px;
}

.u_container .u_question .u_normal{
    width: 100%;
    font-size: 18px;
    color: #dddddd;
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #555555;
}

.u_container .u_question .u_lists a{
    text-decoration: none;
}

.u_container .u_question .u_lists .u_list{
    font-size: 14px;
    color: #cccccc;
    padding-bottom: 5px;
}

.u_container .u_question .u_lists .u_list_first{
    color: red;
}

.u_container .u_inputgroup .u_input{
    width: 240px;
    height: 35px;
    border: 1px solid #08080a;
    background-color: #111214;
    outline: none;
    line-height: 35px;
    border-radius: 2px;
    box-sizing: border-box;
    float: left;
}

.u_container .u_inputgroup .u_btn_submit{
    width: 36px;
    height: 36px;
    float: left;
    background: url("../img/search.png");
}

.u_container .u_tabs{
    width: 100%;
    overflow: hidden;
    color: #999999;
}

.u_container .u_video_tabs{
    width: 100%;
    overflow: hidden;
    color: #999999;
}

.u_container .u_panels{
    width: 100%;
    border: solid 1px #555555;
}

.u_container .u_panels .u_panel{
    width: 100%;
    display: none;
    overflow: hidden;
}

.u_container ul{
    list-style: none;
}

.u_container .u_news_section .u_tabs .u_tab{
    width: 20%;
}

.u_container .u_video_tabs .u_video_tab{
    width: 25%;
    float: left;
    position: relative;
    padding: 10px 0;
    border-style: solid;
    border-color: #333;
    border-left-color: transparent;
    border-width: 1px 1px 1px 1px;
    box-sizing: border-box;
    line-height: 16px;
    text-align: center;
    cursor: pointer
}

.u_container .u_video_tabs .u_active{
    border-color: #999999;
    color: #cccccc;
    transition: border-color 0.5s ease;
}

.u_container .u_tabs .u_tab{
    float: left;
    position: relative;
    padding: 10px 0;
    border-style: solid;
    border-color: #333;
    border-left-color: transparent;
    border-width: 1px 1px 1px 1px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 16px;
    text-align: center;
    cursor: pointer
}

.u_container .u_tabs .u_active{
    border-color: #999999;
    color: #cccccc;
    transition: border-color 0.5s ease;
}

.u_container .u_panels .u_panel.u_active{
    display: block;
}

.u_container .u_panel .u_recommend{
    display: block;
    padding: 15px 40px 15px 20px;
    margin: 25px 5px 15px 5px;
    border: 1px solid transparent;
    box-sizing: border-box;
}

.u_container .u_video_section .u_item{
    display: block;
    position: relative;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    width: 225px;
    height: 190px;
    color: #999;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #1b1c20;
}

.u_container .u_video_section .u_item .u_item_logo{
    width: 200px;
    height: 117px;
    display: block;
}

.u_container .u_video_section .u_item .u_item_logo img{
    display: inline-block;
    width: 100%;
    height: 100%;
}

.u_container .u_video_section .u_item .u_item_title{
    margin-top: 10px;
    line-height: 18px;
    width: 200px;
}

.u_container .u_recommend .u_contents{
    margin-top: 22px;
    overflow: hidden;
    color: #999999;
}

.u_container .u_recommend .u_item_avatar{
    float: left;
    width: 200px;
    height: 120px;
    margin-right: 20px;
}

.u_container .u_panel .u_list{
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 20px;
    color: #bbbbbb;
    overflow: hidden;
    font-size: 1.1em;
}

.u_container .u_panel .u_list p{
    float: left;
}

.u_container .u_panel .u_list.u_highlight{
    background-color: #222222;
}

.u_container .u_panel .u_list span{
    float: right;
}

.u_container .u_recommend .u_item_avatar img{
    display: block;
    width: 100%;
    height: 100%;
}

.u_container .u_section .u_version .u_version_img{
    width: 300px;
    height: 175px;
    margin: 0 auto;
}

.u_container .u_section .u_version .u_version_span{
    text-align: center;
    font-size: 20px;
    color: #eeeeee;
    overflow: hidden;
    padding: 10px 10px;
    white-space: nowrap;
}

.u_container .u_section .u_version .u_version_span span{
    text-decoration: none;
}

.footer{
    font-family: "Microsoft YaHei", Î¢ÈíÑÅºÚ, Arial, "Helvetica Neue", Helvetica, sans-serif;
    height: 160px;
    width: 100%;
    background-color: #000;
    overflow: hidden;
    z-index: 1;
    font-size: 12px;
    color: rgb(149, 149, 149);
    position: relative;
    background-repeat: no-repeat
}

.footer .foot{
    width: 1100px;
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
}

.footer .foot .foot_img{
    float: left;
    height: 40px;
    width: 286px;
    margin-right: 20px;
}

.footer .foot .foot_img .foot_a{
    display: block;
    height: 40px;
    width: 286px;
    background: url("../img/footer.png");
}

.footer .foot .foot_info{
    text-align: center;
    color: #333333;
}

@media screen and (min-width: 1700px){
    .banner{
        position: relative;
        height: 600px;
        width: 1920px;
        margin: 0 auto;
        overflow: hidden;
    }
    .footer{
        position: relative;
        width: 1920px;
        margin: 0 auto;
        overflow: hidden;
    }
}

@media screen and (max-width: 1240px){
    .banner{
        position: relative;
        height: 400px;
        width: 1240px;
        margin: 0 auto;
        overflow: hidden;
    }
    .footer{
        position: relative;
        width: 1240px;
        margin: 0 auto;
        overflow: hidden;
    }
}

.nav_right{
    width: 160px;
    height: 452px;
    color: #999999;
    position: fixed;
    top: 15%;
    right: 15px;
    background-color: #111111;
    z-index: 1001;
    text-align: center;
}

.nav_right .nav_service{
    padding-top: 20px;
    padding-bottom: 10px;
    border: 1px solid #444444;
}

.nav_right .nav_service .e{
    font-size: 12px;
}

.nav_right .nav_blog{
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 1px solid #444444;
    border-right: 1px solid #444444;
}

.nav_right .nav_app{
    border: 1px solid #444444;
    padding-top: 10px;
    padding-bottom: 20px;
}