* {
    padding:0;
    margin:0
}

html,body{
    width: 100%;
    height: 100%;
    background-color: #1a1b1f;
}

.menu{
    width: 100%;
    height: 80px;
    background-color: #000000;
}

.nav_container{
    width: 100%;
    height: 80px;
    background-color: #000000;
    font-family: "Microsoft YaHei", Î¢ÈíÑÅºÚ, Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.nav_main{
    width: 1240px;
    height: 100%;
    margin: 0 auto;
}

.nav_logo{
    float: left;
    width: 260px;
    height: 40px;
    margin-top: 20px;
    margin-right: 20px;
    outline: none;
}

.nav_logo .nav_a{
    display: block;
    width: 260px;
    height: 40px;
    background: url("../img/logo.jpg") center top no-repeat;
}

.nav_main .nav_bar{
    float: left;
    height: 100%;
    width: 700px;
}

.nav_main .nav_bar .link_div{
    position: relative;
    float: left;
    padding: 8px 7px;
    text-align: center;
    width: 92px;
}

.nav_main .nav_bar .link_div a{
    float: left;
    display: block;
    font-size: 18px;
    color: #a5a5a5;
    text-decoration: none;
}

.nav_main .nav_bar .link_div .link_div_e{
    font-size: 8px;
    text-align: center;
}

.nav_main .nav_user{
    float: right;
    width: 260px;
    height: 100%;
    margin-right: 0;
    position: relative;
}

.nav_main .nav_user .info{
    height: 80px;
}

.nav_main .nav_user .info .login_img{
    float: left;
    height: 60px;
    width: 60px;
    margin-top: 10px;
    position: absolute;
    background-image: url("../img/login.png");
}

.nav_main .nav_user .info .login_box{
    float: left;
    margin-top: 15px;
    margin-left: 70px;
    display: block;
}

.nav_main .nav_user .info .login_box p{
    margin: 0 0 4px;
}

.nav_main .nav_user .info .login_box .login_info{
    font-size: 18px;
    color: #ffffff;
}

.nav_main .nav_user .info .login_box .login_info1{
    font-size: 8px;
    color: #ffffff;
}

.u_wrapper{
    width: 100%;
    font-size: 14px;
    overflow: hidden;
}

.u_wrapper .u_container{
    width: 100%;
    margin: 0 auto;
    color: #999999;
    padding-bottom: 65px;
}

.u_container .u_header{
    position: relative;
    width: 100%;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
}

.u_container .u_section{
    width: 1240px;
    margin: 0 auto 40px;
    overflow: hidden;
}

.u_container .u_section .u_left_box{
    width: 750px;
    height: 95px;
    float: left;
    box-sizing: border-box;
    position: relative;
}

.u_container .u_btn_section .u_left_box{
    width: 750px;
    height: 95px;
    float: left;
    box-sizing: border-box;
    position: relative;
}

.u_container .u_btn_section .u_left_box .u_btn_pay{
    display: block;
    margin-right: 5px;
    float: left;
    width: 245px;
    height: 95px;
    overflow: hidden;
    background-position: 0 -94px;
}

.u_container .u_btn_section .u_left_box .u_btn_pay span{
    display: block;
    width: 245px;
    height: 95px;
    background: url("../img/pay.png") center no-repeat;
}

.u_container .u_btn_section .u_left_box .u_btn_download{
    display: block;
    margin-right: 5px;
    float: left;
    width: 245px;
    height: 95px;
    overflow: hidden;
    background-position: 0 -94px;
}

.u_container .u_btn_section .u_left_box .u_btn_download span{
    display: block;
    width: 245px;
    height: 95px;
    background: url("../img/download.png") center no-repeat;
}

.u_container .u_btn_section .u_left_box .u_btn_reg{
    display: block;
    margin-right: 5px;
    float: left;
    width: 245px;
    height: 95px;
    overflow: hidden;
    background-position: 0 -94px;
}

.u_container .u_btn_section .u_left_box .u_btn_reg span{
    display: block;
    width: 245px;
    height: 95px;
    background: url("../img/reg.png") center no-repeat;
}

.u_container .u_btn_section .u_right_box{
    width: 450px;
    float: left;
    margin-left: 30px;
    box-sizing: border-box;
}

.u_container .u_section .u_hot{
    margin-bottom: 20px;
}

.u_container .u_section .u_racecenter{
    display: block;
    width: 418px;
    overflow: hidden;
}

.u_container .u_section .u_right_box{
    width: 430px;
    float: left;
    margin-left: 30px;
    box-sizing: border-box;
}

.u_container .u_btn_section .u_right_box .u_btn_data{
    display: block;
    margin-right: 1px;
    float: left;
    width: 140px;
    height: 95px;
    overflow: hidden;
    background-position: 0 -94px;
}

.u_container .u_btn_section .u_right_box .u_btn_data{
    display: block;
    width: 140px;
    height: 95px;
    background: url("../img/data.png") center no-repeat;
}

.u_container .u_btn_section .u_right_box .u_btn_play{
    display: block;
    margin-right: 1px;
    float: left;
    width: 140px;
    height: 95px;
    overflow: hidden;
    background-position: 0 -94px;
}

.u_container .u_btn_section .u_right_box .u_btn_play{
    display: block;
    width: 140px;
    height: 95px;
    background: url("../img/play.jpg") center no-repeat;
}

.u_container .u_btn_section .u_right_box .u_btn_understand{
    display: block;
    margin-right: 1px;
    float: left;
    width: 140px;
    height: 95px;
    overflow: hidden;
    background-position: 0 -94px;
}

.u_container .u_btn_section .u_right_box .u_btn_understand{
    display: block;
    width: 140px;
    height: 95px;
    background: url("../img/understand.jpg") center no-repeat;
}

.u_container .u_section .u_title{
    font-size: 18px;
    color: #ffffff;
    line-height: 20px;
    overflow: hidden;
    margin-bottom: 10px;
}

.u_container .u_section .u_left{
    float: left;
}

.u_container .u_icon{
    display: inline-block;
    width: 38px;
    height: 39px;
    vertical-align: middle;
    margin-right: 10px;
    position: relative;
}

.u_container .u_icon_news{
    background: url("../img/news.png");
}

.u_container .u_icon_hot{
    background: url("../img/hot.png");
}

.u_container .u_section .u_right{
    display: block;
    float: right;
    font-size: 15px;
    line-height: 20px;
    padding-top: 8px;
    text-align: right;
}

.u_container .u_section .u_right a{
    color: #ffffff;
}

.u_container .u_section .u_content{
    display: block;
    position: relative;
}

.u_container .u_section .u_content a{
    display: block;

}

.u_container .u_section .u_content .u_video{
    display: block;
    width: 420px;
    height: 205px;
    background: url("../img/hot_img.png");
}

.u_container .u_icon_race{
    background: url("../img/race_img.jpg");
}

.u_container .u_section .u_ol{
    display: block;
    padding-top: 50px;
    width: 418px;
    height: 10px;
    text-align: center;
}

.u_container .u_tabs{
    width: 100%;
    overflow: hidden;
    color: #999999;
}

.u_container ul{
    list-style: none;
}

.u_container .u_news_section .u_tabs .u_tab{
    width: 20%;
}

.u_container .u_tabs .u_tab{
    float: left;
    position: relative;
    padding: 10px 0;
    border-style: solid;
    border-color: #333;
    border-left-color: transparent;
    border-width: 1px 1px 1px 1px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 16px;
    text-align: center;
    cursor: pointer
}

.u_container .u_tabs .u_active{
    border-color: #999999;
    color: #cccccc;
    transition: border-color 0.5s ease;
}

.footer{
    font-family: "Microsoft YaHei", Î¢ÈíÑÅºÚ, Arial, "Helvetica Neue", Helvetica, sans-serif;
    height: 160px;
    background-color: #000;
    z-index: 1;
    font-size: 12px;
    color: rgb(149, 149, 149);
    position: relative;
    background-repeat: no-repeat
}

.footer .foot{
    width: 1100px;
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
}

.footer .foot .foot_img{
    float: left;
    height: 40px;
    width: 286px;
    margin-right: 20px;
}

.footer .foot .foot_img .foot_a{
    display: block;
    height: 40px;
    width: 286px;
    background: url("../img/footer.png");
}

.footer .foot .foot_info{
    text-align: center;
    color: #333333;
}